:root {
  --primary-color: #1cde1c;
  --secondary-color: #0047d6;
  --text-color: #0a0c08;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-size-normal: 16px;
  --font-family-normal: 'Lato', sans-serif;
  --font-family-headlines: 'Playfair Display', sans-serif;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: var(--font-family-normal);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-normal);
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
}
h1 {
  font-family: var(--font-family-headlines);
  font-size: 30px;
  font-weight: var(--font-weight-bold);
}
h2 {
  font-family: var(--font-family-headlines);
  font-size: 24px;
  font-weight: var(--font-weight-bold);
}
h3 {
  font-family: var(--font-family-headlines);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}
/* Link Styling */
a {
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  text-decoration: underline transparent;
  transition: text-decoration 0.3s ease;
}
a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration-color: var(--primary-color);
}
a:active {
  /* selected link */
  color: var(--secondary-color);
  text-decoration-color: var(--secondary-color);
}
/* button styling */
button,
.button {
  /* overwrite browser defaults and resets the border */
  border: none;
  display: inline-block;
  color: #000;
  /* takes the font from the outer container */
  font-family: inherit;
  /*styling*/
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid #000;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

button::after,
.button::after {
  content: "";
  background-color:var(--secondary-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  text-decoration: underline transparent;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  text-decoration: underline transparent;
}

button:hover::after,
button:focus::after,
.button:hover::after,
.button:focus::after {
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: none;
  top: 0px;
  left: 0px;
  text-decoration: underline transparent;
}
button:active,
.button:active {
  border: none;
  color: #fff;
  text-decoration: underline transparent;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* Header */
.header-container {
  position: sticky;
  top: 0;
  z-index: 2;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}

.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list__item--active {
  color: var(--secondary-color);
}
.navigation-list {
  list-style-type: none;
}

.navigation-list ul {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px; 
}
#logo {
  width: 200px;
  height: auto;
}
.active {
  color: var(--secondary-color);
}

/* Profile Index Page */
#about {
  height: 100%;
}
.profile {
  max-width: 80%;
  margin: 10vh auto;
  display: flex;
  background-color: rgba(168, 152, 152, 0.09);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 25px;
}
.profile__portrait {
  width: 500px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 15px;
  object-fit: cover;
}
.profile__text h1 {
  font-size: 50px;
  color: var(--primary-color);
}
.profile .button {
  margin-top: 15%;
  margin-right: 5px;
  float: right;
}


/* Work Page */
#work {
  height: 100%;
}

.work {
  max-width: 75%;
  margin: 20vh auto;
}
.work h1 {
  text-align: center;
  padding: 10px;
}
/* start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
  padding: 10px;
}
.project-list__item img{
  width: 100%;
  transition: opacity 0.5s;
  transition: box-shadow 0.5s;
  transition-timing-function: ease-in-out;
}
.project-list__item img:hover,
.project-list__item img:focus {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
/* end grid fallback */
@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 0;
  }
  .project-list__item {
    background-color: rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.1);
    width: auto;
    min-height: auto;
    margin: 0;
  }
}


/* Contact Page */
#contact {
  height: 100vh;
  max-width: 80%;
  margin: 10vh auto;
  display: flex;
  background-color: rgba(168, 152, 152, 0.09);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 25px;
}

.contact {
  margin: 0 auto;
  max-width: 80%;
  align-self: center;
}

.contact h1 {
  padding: 10px;
}

.contact__information {
  margin: 30px auto;
  display: inline-block;
}

/* Footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  top: 100%;
}
.social-media {
  margin-bottom: 5px;
}
.social-media a {
  padding: 0 5px;
}
/* Media queries */
@media all and (max-width: 500px) {
  .profile {
    max-width: 320px;
  }
  .profile__portrait {
    margin-bottom: 25px;
  }
}
@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 22px;
  }
}
@media all and (min-width: 750px) and (max-width: 1300px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 1300px) {
  .profile {
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__portrait {
    margin-right: 0;
    width: 100%;
    max-width: 700px;
  }

  .profile__text {
    flex: auto;
  }
}
