:root {
  --primaryColor: #40b22b;
  --lightTextColor: #fff;
  --darkTextColor: #000;
  --linkVisitedColor: #05676e;
  --linkActiveColor: #489c79;
  --borderColor: rgba(0, 0, 0, 0.3);
  --sunLightColor: #fcffad;
  --sunMediumColor: #edc655;
  --sunDarkColor: #f76414;
  --gridBgColor: #f5f5f5;
  --regularFont: 400;
  --boldFont: 700;
  --lineHeightS: 1.6;
  --lineHeightM: 1.8;
  --lineHeightL: 2.6;
  --textFontSize: 16px;
  --padding: 10px;
  --bodyMaxWidth: 700px;
  --borderSize: 1px;
  --theme-spacing: 10px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: var(--font-family-normal);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-normal);
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
}
h1 {
  font-family: var(--font-family-headlines);
  font-size: 30px;
  font-weight: var(--font-weight-bold);
}
h2 {
  font-family: var(--font-family-headlines);
  font-size: 24px;
  font-weight: var(--font-weight-bold);
}
h3 {
  font-family: var(--font-family-headlines);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}
/* Link Styling */
a {
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  text-decoration: underline transparent;
  transition: text-decoration 0.3s ease;
}
a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration-color: var(--primary-color);
}
a:active {
  /* selected link */
  color: var(--secondary-color);
  text-decoration-color: var(--secondary-color);
}
/* button styling */
button,
.button {
  /* overwrite browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--secondary-color);
  color: #fff;
  text-decoration: none;
  font-size: var(--font-size-normal);
  padding: 10px;
  border-radius: 3px;
  margin: 10px auto;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /* transition */
  transition: opacity 0.5s;
  transition: transform 0.3s;
  transition-timing-function: ease-in-out;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
  text-decoration: none;
}
button:active,
.button:active {
  background-color: #fff;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* Header */
.header-container {
  position: sticky;
  top: 0;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}

.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list__item--active {
  color: var(--secondary-color);
}
.navigation-list {
  list-style-type: none;
}

.navigation-list ul {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px; 
}
#logo {
  width: 200px;
  height: auto;
}

/* Profile Index Page */
#about {
  height: 100vh;
}
.profile {
  max-width: 800px;
  margin: 15vh auto;
}
.profile__portrait {
  float: left;
  width: 260px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 50%;
}
.profile__text {
  flex: 1 1 100px;
  padding: 15px;
}


/* Work Page */
#work {
}

.work {
  max-width: 75%;
  margin: 0 auto;
}
.work h1 {
  text-align: center;
  padding: 10px;
}
/* start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
  padding: 10px;
}
.project-list__item img{
  width: 100%;
  transition: opacity 0.5s;
  transition: box-shadow 0.5s;
  transition-timing-function: ease-in-out;
}
.project-list__item img:hover,
.project-list__item img:focus {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
/* end grid fallback */
@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 0;
  }
  .project-list__item {
    background-color: rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.1);
    width: auto;
    min-height: auto;
    margin: 0;
  }
}


/* Contact Page */
#contact {
  height: 100vh;
  display: flex;
}

.contact {
  margin: 0 auto;
  max-width: 50%;
  align-self: center;
}

.contact h1 {
  padding: 10px;
}

.contact__information {
  margin: 30px auto;
  display: inline-block;
}

#contact-form {
  display: flex;
  flex-direction: column;
}
.error-message {
  color: red;
}
#contact-email,
#contact-tel,
#contact-message {
  flex: 0 1 100px;
}
#submit-message {
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 20%;
  margin: 15px 0;
}

/* Footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  top: 100%;
}
.social-media {
  margin-bottom: 5px;
}
.social-media a {
  padding: 0 5px;
}
/* Media queries */
@media all and (max-width: 500px) {
  .profile {
    max-width: 320px;
  }
  .profile__portrait {
    margin-bottom: 25px;
  }
  .project-list {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 15px;
  }
  h1 {
    font-size: 22px;
  }
}