/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
  }
  
  h1 {
    font-size: calc(16px * 3);
    font-weight: 700;
    line-height: 2.6;
    text-align: center;
  }
  
  h2 {
    font-size: calc(16px * 1.5);
    font-weight: 700;
    line-height: 1.8;
  }
  
  a {
    color: #357b70;
  }
  
  a:visited {
    color: #05676e;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:active {
    color: #489c79;
  }
  
  .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: calc(1px * 3);
    border-bottom: calc(1px * 2) solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  
  button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: calc(1px * 3);
    border-bottom: calc(1px * 2) solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  
  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .navigation-list__item--active {
    text-decoration: none;
  }
  
  .profile__portrait {
    float: left;
    width: 250px;
    border-radius: 50%;
  }
  
  .page-footer {
    clear: both;
  }
  
  .profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .profile h1 {
    text-align: left;
  }
  
  .profile-image {
    margin-top: 40px;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  
  .profile-text {
    -ms-grid-column-align: center;
    justify-self: center;
    margin: 5%;
  }
  
  .page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin: 80px;
  }
  
  .social-media {
    margin: 0 auto;
    text-align: center;
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: calc(10px * 2);
  }
  
  .page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
    margin: 0 5%;
  }
  
  .page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
  }
  
  .navigation-list {
    list-style-type: none;
  }
  
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }
  
  .grid__item {
    display: inline-block;
    width: 33%;
  }
  
  .animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px;
    margin: 50px auto;
  }
  
  @-webkit-keyframes color-change {
    0% {
      fill: #edc655;
    }
  
    50% {
      fill: #fcffad;
    }
  
    100% {
      fill: #f76414;
    }
  }
  
  @keyframes color-change {
    0% {
      fill: #edc655;
    }
  
    50% {
      fill: #fcffad;
    }
  
    100% {
      fill: #f76414;
    }
  }
  
  /* the following code can also be written in shorthand form */
  .sun {
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-name: color-change;
    animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
      transform: translate(0, 50px);
    }
  
    to {
      -webkit-transform: translate(200px, 50px);
      transform: translate(200px, 50px);
    }
  }
  
  @keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
      transform: translate(0, 50px);
    }
  
    to {
      -webkit-transform: translate(200px, 50px);
      transform: translate(200px, 50px);
    }
  }
  
  /* the following code can also be written in shorthand form */
  .cloud-front {
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-name: cloud-move;
    animation-name: cloud-move;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
      transform: translate(446px, 48px);
    }
  
    to {
      -webkit-transform: translate(100px, 48px);
      transform: translate(100px, 48px);
    }
  }
  
  @keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
      transform: translate(446px, 48px);
    }
  
    to {
      -webkit-transform: translate(100px, 48px);
      transform: translate(100px, 48px);
    }
  }
  
  .cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
  
  @supports (display:grid) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr calc(10px * 2) 1fr calc(10px * 2) 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: calc(10px * 2);
      margin: 5%;
    }
  
    .grid__item {
      background-color: #f5f5f5;
      width: auto;
      min-height: auto;
      padding: calc(10px * 2);
      margin: 0;
    }
  }
  
  .about {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  
  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  
    .profile {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  
    h1 {
      font-size: calc(16px * 1.5);
    }
  }
  
  @media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
      -ms-grid-columns: 1fr calc(10px * 2) 1fr;
      grid-template-columns: 1fr 1fr;
    }
  
    .profile {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  
    h1 {
      font-size: calc(16px * 2);
    }
  }
  
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
  }
  