:root {
  --primaryColor: #40b22b;
  --lightTextColor: #fff;
  --darkTextColor: #000;
  --linkVisitedColor: #05676e;
  --linkActiveColor: #489c79;
  --borderColor: rgba(0, 0, 0, 0.3);
  --sunLightColor: #fcffad;
  --sunMediumColor: #edc655;
  --sunDarkColor: #f76414;
  --gridBgColor: #f5f5f5;
  --regularFont: 400;
  --boldFont: 700;
  --lineHeightS: 1.6;
  --lineHeightM: 1.8;
  --lineHeightL: 2.6;
  --textFontSize: 16px;
  --padding: 10px;
  --bodyMaxWidth: 700px;
  --borderSize: 1px;
  --theme-spacing: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--regularFont);
  font-size: var(--textFontSize);
  line-height: var(--lineHeightS);
}

h1 {
  font-size: calc(var(--textFontSize) * 3);
  font-weight: var(--boldFont);
  line-height: var(--lineHeightL);
  text-align: center;
}

h2 {
  font-size: calc(var(--textFontSize) * 1.5);
  font-weight: var(--boldFont);
  line-height: var(--lineHeightM);
}

a {
  color: var(--primaryColor);
}

a:visited {
  color: var(--linkVisitedColor);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--linkActiveColor);
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: calc(1px * 3);
  border-bottom: calc(1px * 2) solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

table {
  width: 75%;
  margin: 20px auto;
  text-align: center;
}

#contact-form {
  display: grid;
  grid-template-columns: 1fr;
}

.form__elements {
  width: 200px;
  margin: 0 auto;
}

.form__elements:nth-child(odd) {
  margin-top: var(--theme-spacing);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  border-radius: 50%;
  margin-right: 40px;
}

.page-footer {
  clear: both;
}

.profile {
  max-width: var(--bodyMaxWidth);
  margin: 0 auto;
}

.profile h1 {
  text-align: left;
}

.profile-image {
  margin-top: 40px;
  justify-self: center;
}

.profile-text {
  justify-self: center;
  margin: 5%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 80px;
}

.social-media {
  margin: 0 auto;
  text-align: center;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.page-header {
  display: flex;
  width: 100%;
  padding: calc(var(--padding) * 2);
}

.page-header__item {
  flex: 0 1 200px;
  margin: 0 5%;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

.animation {
  display: flex;
  max-width: var(--bodyMaxWidth);
  margin: 50px auto;
}

@keyframes color-change {
  0% {
    fill: var(--sunMediumColor);
  }

  50% {
    fill: var(--sunLightColor);
  }

  100% {
    fill: var(--sunDarkColor);
  }
}

/* the following code can also be written in shorthand form */
.sun {
  animation-duration: 8s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

/* the following code can also be written in shorthand form */
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@supports (display:grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(var(--padding) * 2);
    margin: 0;
  }

  .grid__item {
    background-color: var(--gridBgColor);
    width: auto;
    min-height: auto;
    padding: calc(var(--padding) * 2);
    margin: 0;
  }

  .grid__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.about {
  max-width: var(--bodyMaxWidth);
  margin: 0 auto;
  text-align: center;
}

.contact {
  max-width: var(--bodyMaxWidth);
  margin: 0 auto;
  text-align: center;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
